# Logs #
/logs
*.log
*.log*
leaderboards.json

# Node files #
node_modules/
npm-debug.log
.env


# Dist #
build
tsconfig.build.json


# Yarn #
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# IDE - VSCode
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json

.DS_Store