mapbox-geocoder {
  pointer-events: auto;
  width: 70% !important;
}

mapbox-geocoder > div {
  background: transparent !important;
  height: 50px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

mapbox-geocoder input {
  height: 100% !important;
}

mapbox-search-listbox > div > div {
  pointer-events: auto;
  background: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.MuiPaper-root {
  padding: 10px 20px;
  border-radius: 16px !important;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.721) !important;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
