mapbox-geocoder {
  pointer-events: auto;
  width: 70% !important;
}

mapbox-geocoder > div {
  background: transparent !important;
  height: 50px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

mapbox-geocoder input {
  height: 100% !important;
}

mapbox-search-listbox > div > div {
  background: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
